
/* General Style */

body{
background-color: #fff;
color: #333;
}

/* Nav Bar Style */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.637);
    align-items: center;

}


.header-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20%;
    background-image: url(images/Designer.png);
    background-position:center;
    background-size: 300px;
    background-repeat: no-repeat;
    height:90%;
}
.header-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 40%;
    font-size: 15px;
}
.header-links a:hover{
    font-size: 20px;
    text-decoration-line:underline;
    text-shadow: 2px 2px  20px  rgb(71, 71, 71);
    width: 15%;
    -moz-text-decoration-line:underline;
}
.header-links a{
    text-decoration: none;
color: rgb(59, 59, 59);
font-weight: bold;
}
.header-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20%;
}
.header-icons i{
    color: rgb(66, 66, 66);
}
.header-icons i:hover{
    font-size: 20px;
    text-shadow: 2px 2px  20px  rgb(112, 112, 112);
    width: 15%;
    
}

nav{
        background-image: url(images/web\ background.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
   background-position: 40% 50%; 
   filter:opacity(.6) ;

}
 .nav-container{
    position: relative;
    top: 45%;
    right: 100px;
    float: right;
    width: 45%;
    height: 65%;
}

.nav-container div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}


.firstSection h2{
    font-weight: bold;

    color:  black;
    font-size: 40px;
}
.firstSection p{
    font-size: 15px;
    margin-top: 15px;
    font-weight: 800;
}

.firstSection p span{
    font-weight: 300;
}

/* Second Section */

.information{
width: 80%;
margin: 50px auto;
}
.information h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}
.information p{
    text-align: center;

    color: #b1aeae;
}

/* Third Section */

.advantages{
    background-color: #f9f1e7;
    display: flex;
     padding:30px 50px ; 
    margin-top: 50px;
    text-align: left;
    justify-content: space-between;
}
.advantages icons{
    margin-right: 40px;
    font-size: 70px;
}

.advantages h4{
    font-size: 15px;
    margin-bottom: 5px;
}
.advantages p{
    color: #aca7a7;
    font-size: 12px;
}
.F-hr{
    color:#f7f6f6;
    margin-top: 20px;
}

/* Cart Container */
.cart-container {
  display: flex;
  justify-content: space-between;
  padding: 25px 30px;
  margin: 40px auto;
  width: 95%;
  height: 400px;

}

.cart-table {
  width: 65%;
}

.cart-table table {
  width: 100%;
  border-collapse: collapse;
}

.cart-table th, .cart-table td {
  padding: 15px 12px;
  text-align: left;
  border-bottom: 1px solid #e5e0d5;
  color: #333;
  font-weight: 500;
}

.cart-table th {
  background-color: #fcefe5; /* نفس لون الملخص */
  font-weight: 700;
  font-size: 16px;
}

.cart-table td img {
  width: 100px;
  height: 90px;
  border-radius: 6px;
  margin-right: 10px;
  vertical-align: middle;
}

.cart-table input[type="number"] {
  width: 60px;
  padding: 7px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.remove-btn {
  color: #d9534f;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  margin-left: 12px;
  vertical-align: middle;
}

.cart-summary {
  width: 30%;
  background-color: #fcefe5;
  padding: 30px 40px;
  border-radius: 10px;
  font-weight: 600;
  color: #3a3a3a;
  box-shadow: inset 0 0 10px #f2dcb0;
}

.cart-summary h3 {
  font-size: 25px;
  margin-bottom: 60px;
  font-weight: 700;
  color: #000;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
  font-size: 15px;
  color: #797979;
}

.summary-item.total {
  font-weight: 700;
  color: #d19c00;
  font-size: 20px;
}

.checkout-btn {
  width: 70%;
  padding: 12px 0;
  margin: 30px 35px;
  border-radius: 6px;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  font-size: 18px;
    background-color: #fcefe5;

}



/* Footer Section */

footer{
background-color: white;
width: 100%;
height: 450px;
margin-top: 50px;

}
.footer-1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 80%;
    padding-top: 40px;
}
.footer-1 li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}
.underFuniro{
    color:rgb(132, 131, 131);
}
.funiro{
    font-size: 22px;
    font-weight: 700;
    color: black;
    margin-bottom :60px;
}
.footerBox{
   display: flex;
   flex-direction: column;

    }
.footerBox h4{
color: #b3b1b1;
}
.footerBox ul{
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.footerBox ul li a{
    text-decoration: none;
    color: black;

}

.footerBox input{
    width: 80%;
    border: none;
    color: black;
    text-decoration:underline;
background-color: rgb(245, 245, 245);
    

}
.newsletter{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
    font-size: 15px;
    text-decoration: underline;
}

.copyRight{
    width:80%;
    margin: auto;
    margin-right: 70px;
    margin-top: 30px; 
    color: #4f4e4e;
}
.S-hr{
    color:#f7f6f6;
    width:80%;
    margin: auto;
}
/* For large desktops */
@media (min-width: 1200px) {
  /* ممكن تخلي التصميم الرئيسي زي ما هو */
}

/* For desktops and laptops */
@media (min-width: 992px) and (max-width: 1199px) {
  header {
    justify-content: space-between;
    padding: 0 20px;
  }
  .cart-container {
    height: auto;
  }
}

/* For tablets */
@media (min-width: 768px) and (max-width: 991px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 10px 20px;
  }

  .header-logo, .header-links, .header-icons {
    width: 100%;
    justify-content: center;
    margin: 5px 0;
  }

  .cart-container {
    flex-direction: column;
    height: auto;
    padding: 10px;
    width: 95%;
  }

  .cart-table, .cart-summary {
    width: 100%;
    margin-bottom: 20px;
  }

  .advantages {
    flex-direction: column;
    padding: 20px;
  }

  .footer-1 {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }
}

/* For mobile phones */
@media (max-width: 767px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 10px 15px;
  }

  .header-logo, .header-links, .header-icons {
    width: 100%;
    justify-content: center;
    margin: 5px 0;
  }

  .header-links a {
    font-size: 14px;
    margin: 0 8px;
  }

  .cart-container {
    flex-direction: column;
    padding: 10px 15px;
    height: auto;
    width: 100%;
  }

  .cart-table, .cart-summary {
    width: 100%;
    margin-bottom: 20px;
  }

  .cart-table td img {
    width: 70px;
    height: 60px;
  }

  .cart-table input[type="number"] {
    width: 50px;
    padding: 5px;
    font-size: 14px;
  }

  .advantages {
    flex-direction: column;
    padding: 15px;
    text-align: center;
  }

  .advantages .icons {
    margin: 15px 0;
    font-size: 50px;
  }

  footer .footer-1 {
    flex-direction: column;
    padding: 20px 10px;
    height: auto;
  }

  footer .footerBox {
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
  }

  .newsletter {
    flex-direction: column;
  }

  .newsletter input {
    width: 100%;
    margin-bottom: 10px;
  }
}
