
body{
background-color: #fff;
color: #333;
}

/* Nav Bar Style */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.637);
    align-items: center;

}


.header-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20%;
    background-image: url(images/Designer.png);
    background-position:center;
    background-size: 300px;
    background-repeat: no-repeat;
    height:90%;
}
.header-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 40%;
    font-size: 15px;
}
.header-links a:hover{
    font-size: 20px;
    text-decoration-line:underline;
    text-shadow: 2px 2px  20px  rgb(71, 71, 71);
    width: 15%;
    -moz-text-decoration-line:underline;
}
.header-links a{
    text-decoration: none;
color: rgb(59, 59, 59);
font-weight: bold;
}
.header-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20%;
}
.header-icons i{
    color: rgb(66, 66, 66);
}
.header-icons i:hover{
    font-size: 20px;
    text-shadow: 2px 2px  20px  rgb(112, 112, 112);
    width: 15%;
    
}

nav{
        background-image: url(images/web\ background.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
   background-position: 40% 50%; 
   filter:opacity(.6) ;

}
 .nav-container{
    position: relative;
    top: 45%;
    right: 100px;
    float: right;
    width: 45%;
    height: 65%;
}

.nav-container div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}


.firstSection h2{
    font-weight: bold;

    color:  black;
    font-size: 40px;
}
.firstSection p{
    font-size: 15px;
    margin-top: 15px;
    font-weight: 800;
}

.firstSection p span{
    font-weight: 300;
}

/* Second Section */

.information{
width: 80%;
margin: 50px auto;
}
.information h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}
.information p{
    text-align: center;

    color: #b1aeae;
}

/* Third Section */

.container{
    display: flex;
    gap: 40px;
    /* margin-right: 50px; */
    /* margin-left: 100px; */

}
.about{
    display: flex;
    flex-direction: column;
    /* flex: 1; */
color: #676666;
    margin-left: 370px;
}

.about div{
    margin-bottom: 30px;
}
.about h4{
    font-size: 15px;
    margin-bottom: 5px;
    color:black;
}

/* form */

.form{
    flex: 2;
    margin-left: 50px;
    justify-content: center;
}
.form label{
    font-size: 10px;
}
.form input, form textarea{
    width: 50%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #d8d6d6;
    border-radius: 5px;
}
.form button{
background-color: #b88e2f;
color: #fff;
border: none;
padding: 12px 20px;
cursor: pointer;
font-weight: bold;
border-radius: 5px;
margin-top: 10px;
width: 200px;
}

/* Forth Section */

.advantages{
    background-color: #f9f1e7;
    display: flex;
     padding:30px 50px ; 
    margin-top: 50px;
    text-align: left;
    justify-content: space-between;
}
.advantages icons{
    margin-right: 40px;
    font-size: 70px;
}

.advantages h4{
    font-size: 15px;
    margin-bottom: 5px;
}
.advantages p{
    color: #aca7a7;
    font-size: 12px;
}
.F-hr{
    color:#f7f6f6;
    margin-top: 20px;
}
/* Footer Section */

footer{
background-color: white;
width: 100%;
height: 450px;
margin-top: 50px;

}
.footer-1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 80%;
    padding-top: 40px;
}
.footer-1 li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}
.underFuniro{
    color:rgb(132, 131, 131);
}
.funiro{
    font-size: 22px;
    font-weight: 700;
    color: black;
    margin-bottom :60px;
}
.footerBox{
   display: flex;
   flex-direction: column;

    }
.footerBox h4{
color: #b3b1b1;
}
.footerBox ul{
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.footerBox ul li a{
    text-decoration: none;
    color: black;

}

.footerBox input{
    width: 80%;
    border: none;
    color: black;
    text-decoration:underline;
background-color: rgb(245, 245, 245);
    

}
.newsletter{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
    font-size: 15px;
    text-decoration: underline;
}

.copyRight{
    width:80%;
    margin: auto;
    margin-right: 70px;
    margin-top: 30px; 
    color: #4f4e4e;
}
.S-hr{
    color:#f7f6f6;
    width:80%;
    margin: auto;
}
/* Tablets: 768px to 991px */
@media (min-width: 768px) and (max-width: 991px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 10px 20px;
  }
  .header-logo, .header-links, .header-icons {
    width: 100%;
    justify-content: center;
    margin: 8px 0;
  }
  .header-links {
    font-size: 14px;
  }
  .nav-container {
    width: 80%;
    right: 0;
    top: 40%;
    float: none;
  }
  .container {
    flex-direction: column;
    gap: 20px;
    margin-left: 0;
  }
  .about {
    margin-left: 0;
  }
  .form input, .form textarea {
    width: 100%;
  }
  .form {
    margin-left: 0;
  }
  .advantages {
    flex-direction: column;
    padding: 20px 30px;
    text-align: center;
  }
  footer .footer-1 {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }
  .footerBox {
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
}

/* Mobile: max-width 767px */
@media (max-width: 767px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 10px 15px;
  }
  .header-logo, .header-links, .header-icons {
    width: 100%;
    justify-content: center;
    margin: 5px 0;
  }
  .header-links {
    font-size: 13px;
    gap: 10px;
  }
  .header-links a:hover {
    font-size: 16px;
    width: auto;
  }
  nav {
    height: 250px;
    background-position: center;
  }
  .nav-container {
    position: static;
    width: 90%;
    margin: auto;
    top: auto;
    right: auto;
    float: none;
    height: auto;
  }
  .firstSection h2 {
    font-size: 28px;
  }
  .firstSection p {
    font-size: 14px;
  }
  .container {
    flex-direction: column;
    margin-left: 0;
    gap: 15px;
    padding: 0 10px;
  }
  .about {
    margin-left: 0;
    text-align: center;
  }
  .form input, .form textarea {
    width: 100%;
  }
  .form {
    margin-left: 0;
  }
  .form button {
    width: 100%;
  }
  .advantages {
    flex-direction: column;
    padding: 15px 20px;
    text-align: center;
  }
  .advantages icons {
    margin: 15px 0;
    font-size: 50px;
  }
  footer .footer-1 {
    flex-direction: column;
    height: auto;
    padding: 20px 10px;
  }
  .footerBox {
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  .newsletter {
    flex-direction: column;
  }
  .newsletter input {
    width: 100%;
    margin-bottom: 10px;
  }
  .copyRight {
    margin-right: 0;
    width: 100%;
  }
}
