 @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

 * {
     font-family: "Poppins", sans-serif;
     margin: 0;
     box-sizing: border-box;
     scroll-behavior: smooth;
 }


 header {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     width: 100%;
     height: 60px;
     background-color: rgba(255, 255, 255, 0.637);
     align-items: center;

 }


 .header-logo {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     width: 20%;

     background-image: url(images/Designer.png);
     background-position: center;
     background-size: 300px;
     background-repeat: no-repeat;
     height: 90%;
 }

 .header-links {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     text-align: center;
     width: 40%;
     font-size: 15px;
 }

 .header-links a:hover {
     font-size: 20px;
     text-decoration-line: underline;
     text-shadow: 2px 2px 20px rgb(71, 71, 71);
     width: 15%;
     -moz-text-decoration-line: underline;
 }

 .header-links a {
     text-decoration: none;
     color: rgb(59, 59, 59);
     font-weight: bold;
 }

 .header-icons {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     width: 20%;
 }

 .header-icons i {
     color: rgb(66, 66, 66);
 }

 .header-icons i:hover {
     font-size: 20px;
     text-shadow: 2px 2px 20px rgb(112, 112, 112);
     width: 15%;

 }

 nav{
    width: 100%;
    height: 80px;
    background-color:  #f8f1e2;
        display: flex;

 }

.product-page {
  display: flex;
  gap: 40px;
  padding: 50px 100px;
}
.product-image{
    background-color: #f8f1e2;
}
.product-image img {
  width: 350px;
  margin-top: 20px;
  border-radius: 10px;
}
.product-info {
  max-width: 500px;
}
.product-info h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.product-price {
  font-size: 1.5rem;
  color: #b88e2f;
  margin: 10px 0;
}
.product-description {
  margin: 15px 0;
  color: #555;
}
.product-options {
  margin: 20px 0;
}
.color-options {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}
.color {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #ccc;
  cursor: pointer;
}
.color.navy { background: navy; }
.color.beige { background: beige; }
.color.grey { background: grey; }
.quantity-input {
  width: 60px;
  padding: 5px;
  margin-top: 10px;
}
.product-actions {
  margin-top: 20px;
}
.btn-primary {
  background: #b88e2f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.btn-secondary {
  background: transparent;
  border: 1px solid #ccc;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
}

 .container1 {
     display: flex;
     flex-direction: column;
     margin: 30px auto;

 }

 .cont1-header {
    display: flex;
    flex-direction: column;
     margin: 30px auto 0 auto;

 }
 .cont1-header .line-1{
    display: flex;
    flex-direction: row;
    margin: 10px auto 50px auto;
    justify-content: space-evenly;
    width: 80%;
    font-size: 20px;
    font-weight: 300;
    color: #b3b1b1;
 } 
 .cont1-header .line-2{
    display: flex;
    flex-direction: column;
    margin: 10px auto 50px auto;
    
    justify-content: space-evenly;
 }
.cont1-header .line-2 p{
    padding: 30px  80px ;
    color: #b3b1b1;
}
 .cont1-card {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     width: 90%;
     height: 450px;
     margin: auto;



 }

 .cont1-card a {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     width: 47%;
     height: 80%;
     margin: auto;
     text-decoration: none;
     color: black;
 }

 .cont1-card a:hover {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     width: 48%;
     height: 85%;
     margin: auto;
     text-decoration: none;
     color: black;
     transition: ease-in-out .5s;
     -webkit-transition: ease-in-out .5s;
     -moz-transition: ease-in-out .5s;
     -ms-transition: ease-in-out .5s;
     -o-transition: ease-in-out .5s;
 }

 .cont1-card img {
     margin-bottom: 20px;
     height: 90%;
     box-shadow: 0px 0px 5px 0px rgb(117, 117, 117);
 }

 .cont1-card p {
     background-color: #ffffff;

 }

 .cont1-card p:hover {
     background-color: #fff1de;
     transition: ease-in-out .5s;
     -webkit-transition: ease-in-out .5s;
     -moz-transition: ease-in-out .5s;
     -ms-transition: ease-in-out .5s;
     -o-transition: ease-in-out .5s;
 }




 .container2 {
     display: flex;
     width: 80%;
     flex-direction: column;

     margin: 30px auto;

 }

 .cont2-header {
     margin: 50px auto 30px auto;

 }

 .product-container {
     display: flex;
     justify-content: space-between;
     height: 380px;
 }

 .card {
     position: relative;

     width: 23%;
     height: 350px;
     display: flex;
     flex-direction: column;
     box-shadow: 0px 0px 5px 0px rgb(117, 117, 117);
     margin-top: 10px;

 }

 .card .sale-icon-1 {
     position: absolute;
     left: 200px;
     top: 15px;
     text-align: center;
     padding-top: 8px;
     border-radius: 50%;
     width: 30px;
     height: 33px;
     font-size: 12px;
     background-color: rgb(255, 158, 13);
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
 }

 .card .sale-icon-2 {
     position: absolute;
     left: 200px;
     top: 15px;
     text-align: center;
     padding-top: 8px;
     border-radius: 50%;
     width: 30px;
     height: 33px;
     font-size: 12px;
     background-color: rgb(13, 255, 122);
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
 }

 .image-product {
     height: 60%;
     width: 100%;

 }

 .card-info {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     height: 37%;
     padding: 20px 10px 0 10px;

 }

 .product-name {
     font-size: 20px;
     font-weight: 500;
 }

 .product-description {
     font-size: 15px;
     font-weight: 500;
     color: #999999;
 }

 .product-price {
     font-size: 18px;
     font-weight: 400;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 80%;

 }

 .product-price span {
     color: rgb(95, 95, 95);
     font-weight: 350;
     font-size: 14px;
     margin-top: 5px;
     text-decoration: line-through;
 }

 .card .hover-box {
     position: absolute;
     color: #fff;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     opacity: 0;
     transition: opacity .5s ease;
     padding: 20px;
     top: 25%;
     -webkit-transition: opacity .5s ease;
     -moz-transition: opacity .5s ease;
     -ms-transition: opacity .5s ease;
     -o-transition: opacity .5s ease;
 }

 .card .hover-box p {
     font-size: 16px;
     color: white;
     margin-bottom: 10px;
 }

 .card .hover-box button {
     margin: 5px;
     padding: 8px 15px;
     border: none;
     border-radius: 5px;
     background: #ff9800;
     color: white;
     cursor: pointer;
     transition: background 0.3s ease;
 }

 .card .hover-box button:hover {
     color: white;

     background: #e68900;
 }

 .card:hover {
     box-shadow: inset 0 0 200px 20px black;
     width: 24%;
     height: 360px;
     transition: ease-in-out .5s;
     -webkit-transition: ease-in-out .5s;
     -moz-transition: ease-in-out .5s;
     -ms-transition: ease-in-out .5s;
     -o-transition: ease-in-out .5s;
     color: white;
 }

 .card:hover .hover-box {
     opacity: 1;
     display: flex;
     flex-direction: column;
     width: 100%;
     margin: auto;

 }

 .card:hover .hover-box a {
     text-decoration: none;
     color: white;
     font-size: 14px;
 }







 footer {
     background-color: rgb(255, 255, 255);
     width: 100%;
     height: 450px;
     margin-top: 50px;

 }

 .footer-1 {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     height: 80%;
     padding-top: 40px;
 }

 .footer-1 li {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     height: 60%;
 }

 .underFuniro {
     color: #b3b1b1;
 }

 .funiro {
     font-size: 22px;
     font-weight: 700;
     color: black;
     margin-bottom: 60px;
 }

 .footerBox {
     display: flex;
     flex-direction: column;

 }

 .footerBox h4 {
     color: #b3b1b1;
 }

 .footerBox ul {
     list-style: none;
     padding: 0;
     margin-top: 30px;
 }

 .footerBox ul li a {
     text-decoration: none;
     color: black;

 }

 .footerBox input {
     width: 80%;
     border: none;
     color: black;
     text-decoration: underline;
     background-color: rgb(255, 255, 255);


 }

 .newsletter {
     display: flex;
     flex-direction: row;
     margin-top: 30px;
     justify-content: space-between;
     font-size: 15px;
     text-decoration: underline;
 }

 .copyRight {

     margin: 30px 70px;
     color: #4f4e4e;
 }

 hr {
     color: #eae7e7;
     width: 90%;
     margin: auto;
 }


@media (max-width: 992px) {
  header {
    flex-direction: column;
    gap: 15px;
    height: auto;
  }
  .header-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  .container1 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .product-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    height: auto;
  }
  .card {
    width: 45%;
  }
}

@media (max-width: 768px) {
  nav {
    justify-content: center;
    padding: 20px;
    text-align: center;
  }
  .nav-content {
    width: 100%;
    padding: 20px;
  }
  .container1 {
    flex-direction: column;
  }
  .cont1-card {
    width: 100%;
  }
  .product-container {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
  .container3 {
    flex-direction: column;
    height: auto;
  }
  .slider,
  .image-cont {
    width: 100%;
  }
  footer {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
}

@media (max-width: 480px) {
  .header-links {
    flex-direction: column;
    gap: 10px;
  }
  .header-icons {
    font-size: 16px;
  }
  .nav-content h1 {
    font-size: 22px;
  }
  .gallery img {
    height: 180px;
  }
  footer input {
    width: 100%;
    margin-bottom: 10px;
  }
  footer button {
    width: 100%;
  }
} 
