@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 98%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.637);
    align-items: center;
    margin: 30px auto ;
    border-radius: 90px;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    -ms-border-radius: 90px;
    -o-border-radius: 90px;
    position: absolute;
    left: 1%;
    transition: ease-out 1.5s;
    -webkit-transition: ease-out 1.5s;
    -moz-transition: ease-out 1.5s;
    -ms-transition: ease-out 1.5s;
    -o-transition: ease-out 1.5s;
}


.header-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20%;
    
    background-image: url(images/Designer.png);
    background-position: center;
    background-size: 400px;
    background-repeat: no-repeat;
    height:90%;
}

.header-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 40%;
    font-size: 15px;
}
.header-links a:hover{
    font-size: 20px;
    text-decoration-line:underline;
    text-shadow: 2px 2px  20px  rgb(71, 71, 71);
    width: 15%;
    -moz-text-decoration-line:underline;
}
.header-links a{
    text-decoration: none;
color: rgb(59, 59, 59);
font-weight: bold;
}
.header-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20%;
}
.header-icons i{
    color: rgb(66, 66, 66);
}
.header-icons i:hover{
    font-size: 20px;
    text-shadow: 2px 2px  20px  rgb(112, 112, 112);
    width: 15%;
    
}

nav{
        background-image: url(images/nav\ background1.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
}
.nav-container{
    position: relative;
    top: 40%;
    right: 5%;
    float: right;
    width: 30%;
    height: 40%;
    background-color: aqua;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

